#grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 5%;
}

.grid-item {
  background-image: linear-gradient(to top left, #ebae93, #f5d6c9);
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 1em;
  background-color: rgb(191, 74, 212);
  color: rgb(250, 250, 250);
  padding: 5px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-title {
  width: 30%;
  height: auto;
  text-align: center;
  font-family: "Lobster", cursive;
  padding: 10px;
  margin: 30px auto;
  background-image: linear-gradient(to top left, #ebae93, #f5d6c9);
  color: rgb(250, 250, 250);
  font-weight: bold;
  font-size: 1em;
  border-radius: 20px;
}

.create-cat {
  text-align: center;
  margin-bottom: 30px;
}

.category-type {
  text-align: center;
  margin: 10px;
}

/* .cat-point {
  display: flex;
  flex-direction: row;
} */
